@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Trad:wght@100..400&display=swap');
@import "tailwindcss";


@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-cormorant: 'Cormorant Upright', serif;
  --font-playwrite: 'Playwrite US Trad', sans-serif;

  --color-ground-0: oklch(0.9215 0.022 92.52);
  --color-ground-1: oklch(0.800 0.022 92.52);
  --color-ground-2: oklch(0.600 0.022 92.52);
  --color-ground-3: oklch(0.450 0.022 92.52);

  --color-primary-0: oklch(0.642 0.022 32.08);
  --color-primary-1: oklch(0.552 0.022 32.08);
  --color-primary-2: oklch(0.45 0.022 32.08);
  --color-primary-3: oklch(0.3042 0.022 32.08);

  --color-secondary-0: oklch(0.642 0.0014 197.08);
  --color-secondary-1: oklch(0.552 0.0014 197.08);
  --color-secondary-2: oklch(0.45 0.0014 197.08);
  --color-secondary-3: oklch(0.3042 0.0014 197.08);

  --color-accent-0: oklch(0.6832 0.1382 38.74);
  --color-accent-1: oklch(0.6359 0.1381 37.51);
  --color-accent-2: oklch(0.45 0.1381 37.51);
  --color-accent-3: oklch(0.3042 0.1381 37.51);
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-2);
  background-color: var(--color-ground-0);

  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

